
// @keyframes hoverCard 
//   from 
//     box-shadow:  rgba(149, 157, 165, 0.2) 0px 8px 24px
//   to 
//     box-shadow:  black 10px 8px 24px

    
.card 
    margin: 10px
    width: 20rem
    display: flex
    flex-direction: column
    gap: 1rem
    border-radius: 0.5rem
    box-shadow:  rgba(149, 157, 165, 0.2) 0px 8px 24px
    background-color: rgba(8, 54, 129, 0.3)
    cursor: pointer
    transition: box-shadow linear 0.5s
    &:hover
        box-shadow:  black 10px 8px 24px
        // animation-name: hoverCard
        // animation-duration: 1s
        
    &-img
        border-radius: 0.5rem 0.5rem 0 0
        display: flex
        justify-content: space-between
        align-itemns: center
        height: 10rem
        width: 100%
        //background: url("https://silicon.createx.studio/assets/img/portfolio/courses/01.jpg") center center
        background-size: cover
        button 
            height: fit-content
            border: none
            margin: 1rem

.card-desc 
    padding: 1rem
    color: #05144e
    strong 
        color: #0a0a0a
    &-last 
        display: flex
        gap: 1rem
    &-first 
        display: flex
        flex-direction: column



.label 
    background: #22c55e
    border-radius: 0.2rem
    color: #fff


.save 
    width: 2rem
    height: 2rem !important
    border-radius: 2rem
    color: #33354d
    display: flex
    justify-content: center
    align-item: center


hr 
    color: #9397ad

.time
    font-size: 1.5rem
    color: #6366f1

.material-symbols-outlined 
    height: 1rem

.controls
    display: flex
    flex-direction: row
    max-width: 100px

    .edit,.delete
        padding: 2px
        border-radius: 3px
        border: solid 1px
        margin: 2px
        cursor: pointer
        border: none
        &:hover
            box-shadow: 1px 2px 5px black
    img
        width: 50%

.edit
    background: #126aaecc
.delete
    background: #ce1e1ecc