@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300400500600700800&display=swap")

$font-stack1 : Outfit, Helvetica, sans-serif
$grey1: rgba(149, 157, 165, 0.2)

*
    font-family: $font-stack1
    
html
    background-image: url(./assets/bgSite.jpg) 
    background-repeat: no-repeat 
    background-size: cover
    height: 100hv
    wight:100vw


body
    margin: 5px

#main
    width: 90%
    margin: 20px auto

